<h1>Анкета 1</h1>

<div class="messages">
	<p class="notice"> <%= notice  %></p>
	<ul class="validation"></ul>
	<%= render 'form' %>
</div>

<%= form_for  @worksheet, url: {action: "update"}, html: {method: "patch"} do |f| %>

<div class="fields">
<p><%= f.submit "Отправить результат" ,class: 'submit-btn'%></p> 
</div>
<div class="fields">
	<h2>Выберите ваше подразделение. </h2>
	<p><%= f.label "Подразделение" %>
		<%= f.select(:depart_id, options_for_select(@UDepartsList , @worksheet.depart_id ) ,
  		{ :include_blank =>' ' }, class: "user-depart" )%>
  	</p>	
  	
</div>
<div class="fields">
	
    <h2>Оцените в процентах вклад бэк-офисов в производстве(продаже) банковских продуктов</h2>
    <p><%= f.label "Оценка" %> 
     	<%= f.number_field :contrib , in: 1...101, class: "contrib"  %>
    </p>    

</div>
<div class="fields">
<h2>Выбирите пять подраздразделений с которыми Вы взаимодействуете, распределити между ними % доли участия и дайте оценку</h2>
<% @PDeparts.each do |p| %>
<div class="division">
	<div class="depart-head">
		<%= p[1] %>
	</div>
	
    <div class="departs">
	<table >
		<tr class="factors-names">
			<td class="column1"><%="Наименование подразделения" %>
			</td>
			<td class="column2"><%= Factor.find(1).name %>
			</td>
			<td class="column3"><%= Factor.find(2).name %>
			</td>
			<td class="column4"><%= Factor.find(3).name %>
			</td>
			<td class="column5"><%= Factor.find(4).name %>
			</td>
		</tr>
		<% Depart.where(parent: p[0]).order('name').map {|d| [ d.id, d.name ]}.each do |d| %>
		<tr class="depart">
			<td class="column1 depart-name"> 
				<%= check_box_tag "worksheet[show][]", d[0]  ,Vote.where(depart_id: d[0], worksheet_id: @worksheet.id ).exists? , class: "check-depart" %>
				<%= d[1] %> 
			</td>
			<td class="column2"> 
				<% vote = Vote.where(depart_id: d[0], factor_id: 1, worksheet_id: @worksheet.id ).first %>
				<%= number_field_tag "worksheet[votes][][value]", ( vote.nil? ? 0 : vote.value.to_i ), in: 0...101, class: "factor1"  %>
				<%= hidden_field_tag "worksheet[votes][][depart_id]", d[0] %>
				<%= hidden_field_tag "worksheet[votes][][factor_id]", 1 %>
				<%= hidden_field_tag "worksheet[votes][][worksheet_id]", @worksheet.id %> 
			</td>
			<td class="column3"> 
				<% vote = Vote.where(depart_id: d[0], factor_id: 2, worksheet_id: @worksheet.id ).first %>
				<%= select_tag("worksheet[votes][][value]", options_for_select(@RList2, (vote.nil? ? 0 : vote.value) ),
					{ :prompt => " ", class: "factor2" } )%>
				<%= hidden_field_tag "worksheet[votes][][depart_id]", d[0] %>
				<%= hidden_field_tag "worksheet[votes][][factor_id]", 2 %>
				<%= hidden_field_tag "worksheet[votes][][worksheet_id]", @worksheet.id %> 
			</td>
			<td class="column4"> 
				<% vote = Vote.where(depart_id: d[0], factor_id: 3, worksheet_id: @worksheet.id ).first %>
				<%= select_tag("worksheet[votes][][value]", options_for_select(@RList3, (vote.nil? ? 0 : vote.value) ),
					{ :prompt => " ", class: "factor3" } )%>
				<%= hidden_field_tag "worksheet[votes][][depart_id]", d[0] %>
				<%= hidden_field_tag "worksheet[votes][][factor_id]", 3 %>
				<%= hidden_field_tag "worksheet[votes][][worksheet_id]", @worksheet.id %> 
			</td>
			<td class="column5"> 
				<% vote = Vote.where(depart_id: d[0], factor_id: 4, worksheet_id: @worksheet.id ).first %>
				<%= select_tag("worksheet[votes][][value]", options_for_select(@RList4 , (vote.nil? ? 0 : vote.value) ),
					{ :prompt => " ", class: "factor4" } )%>
				<%= hidden_field_tag "worksheet[votes][][depart_id]", d[0] %>
				<%= hidden_field_tag "worksheet[votes][][factor_id]", 4 %>
				<%= hidden_field_tag "worksheet[votes][][worksheet_id]", @worksheet.id %> 
			</td>
		</tr>
		<% end %>
	</table>
	</div>
</div>
<% end %>

</div>
 
<% end %> 
