<h1>Editing worksheet</h1>

<%= render 'form' %>

<%= form_for  @worksheet, url: {action: "update"}, html: {method: "patch"} do |f| %>
  <%= f.label "Оценка" %>
  <%= f.number_field :contrib , in: 1...101  %> </br >
  <%= f.label "Подразделение" %>
  <%= f.select(:depart_id, options_for_select(@UDepartsList , @worksheet.depart_id ) ,:include_blank =>' -- Please select Yours Depart --' )%> 
  

  <% @PDeparts.each do |p| %>
  <div class="division">	
  	<div class="depart-head"><%= p[1] %></div> 
  	
  	<div class="departs">	
  		
  		<div class="factors-names">	
  	    	<div class="column1"><%= label_tag "Наименование подразделения" %></div>
  	    	<div class="column2"><%= label_tag Factor.find(1).name %></div>
  	    	<div class="column3"><%= label_tag Factor.find(2).name %></div>
  	    	<div class="column4"><%= label_tag Factor.find(3).name %></div>
  	    	<div class="column5"><%= label_tag Factor.find(4).name %></div>
  	    </div>
  	<% Depart.where(parent: p[0]).order('name').map {|d| [ d.id, d.name ]}.each do |d| %>
  		<div class="depart">							       
    		<div class="column1 depart-name">
    			<%= check_box_tag "show",'yes',Vote.where(depart_id: d[0], worksheet_id: @worksheet.id ).exists? , class: "check-depart" %>
  	   		 	<%= label_tag "show", d[1].to_s  %>
  	   		</div> 	
  	   	    <div class="column2">
  	   	    	<% vote = Vote.where(depart_id: d[0], factor_id: 1, worksheet_id: @worksheet.id ).first %>
  	   			<%= number_field_tag "worksheet[votes][][value]", ( vote.nil? ? 0 : vote.value ) , { in: 0...101, :id=> d[0] } %>
  	   				<%= hidden_field_tag "worksheet[votes][][depart_id]", d[0], { :id=> d[0] } %>
  	   				<%= hidden_field_tag "worksheet[votes][][factor_id]", 1, { :id=> d[0] } %>
  	   				<%= hidden_field_tag "worksheet[votes][][worksheet_id]", @worksheet.id, { :id=> d[0] } %>
  	   		</div> 
  	   		<div class="column3">	
  	   			<% vote = Vote.where(depart_id: d[0], factor_id: 2, worksheet_id: @worksheet.id ).first %>
  	   			<%= select_tag("worksheet[votes][][value]", options_for_select(@RList2 , (vote.nil? ? 0 : vote.value) ),
  	   				            { :prompt => "Select something", :id => d[0] } )%>    
  	   				<%= hidden_field_tag "worksheet[votes][][depart_id]", d[0], {:id => d[0] }  %>
  	   				<%= hidden_field_tag "worksheet[votes][][factor_id]", 2, {:id => d[0] } %>
  	   				<%= hidden_field_tag "worksheet[votes][][worksheet_id]", @worksheet.id, {:id => d[0] } %>
  	   		</div>           
  	   		<div class="column4">	
  	   			<% vote = Vote.where(depart_id: d[0], factor_id: 3, worksheet_id: @worksheet.id ).first %>	
  	   			<%= select_tag("worksheet[votes][][value]", options_for_select(@RList3 , (vote.nil? ? 0 : vote.value) ),
  	   			               { :prompt => "Select something", :id => d[0] } )%> 	
  	   				<%= hidden_field_tag "worksheet[votes][][depart_id]", d[0], {:id => d[0] }  %>
  	   				<%= hidden_field_tag "worksheet[votes][][factor_id]", 3, {:id => d[0] } %>
  	   				<%= hidden_field_tag "worksheet[votes][][worksheet_id]", @worksheet.id, {:id => d[0] } %>	
  	   		</div>                             
  	   		<div class="column5">
  	   			<% vote = Vote.where(depart_id: d[0], factor_id: 4, worksheet_id: @worksheet.id ).first %>
  	   			<%= select_tag("worksheet[votes][][value]", options_for_select(@RList4 , (vote.nil? ? 0 : vote.value) ),
  	   				           { :prompt => "Select something", :id => d[0] } )%> 	
  	   				<%= hidden_field_tag "worksheet[votes][][depart_id]", d[0], {:id => d[0] }  %>
  	   				<%= hidden_field_tag "worksheet[votes][][factor_id]", 4, {:id => d[0] } %>
  	   				<%= hidden_field_tag "worksheet[votes][][worksheet_id]", @worksheet.id, {:id => d[0] } %>
  	   		</div> 	           	
  	     </div>	                        
    <% end %>
    </div>
  </div> 		
  <% end %>  

  <%= f.submit "Отправить" %>
  
<% end %>


<%= link_to 'Show', @worksheet %>  
<%= link_to 'Back', worksheets_path %>

