<h1>Editing worksheet</h1>

<%= render 'form' %>

<%= form_for  @worksheet, url: {action: "update"}, html: {method: "patch"} do |f| %>
  <%= f.label "Оценка" %>
  <%= f.number_field :contrib , in: 1...101  %> </br >
  <%= f.label "Подразделение" %>
  <%= f.select(:depart_id, options_for_select(@UDepartsList , @worksheet.depart_id ) ,:include_blank =>' -- Please select Your Depart --' )%></br >
  
  <table>
 
  <% @PDeparts.each do |p| %>
  		<tr>
  			<th colspan="3"><%= p[1] %></ br></th>
    	</tr>	
  	<% Depart.where(:parent => p[0]).order('name').map {|d| [ d.id, d.name ]}.each do |d| %>						       
    	<tr class='row'>
  	   		<td><%= d[0].to_s %></td>
  	   			<%=  hidden_field_tag "worksheet[votes][][depart_id]" ,  d[0]  %>
  	   			<%=  hidden_field_tag "worksheet[votes][][factor_id]" ,   1  %>
  	   			<%=  hidden_field_tag "worksheet[votes][][worksheet_id]" , @worksheet.id %>
  	   		<td><%=  number_field_tag "worksheet[votes][][value]" , 1 , in: 1...101  %> </td>
  	   		
  	   			<%=  hidden_field_tag "worksheet[votes][][depart_id]" ,  d[0]  %>
  	   			<%=  hidden_field_tag "worksheet[votes][][factor_id]" ,   1 %>
  	   			<%=  hidden_field_tag "worksheet[votes][][worksheet_id]" , @worksheet.id %>
  	   			<%=  hidden_field_tag "worksheet[votes][][value]" ,   99 %>
       	</tr> 
    <% end %> 		
  <% end %> 
  </table>  
  <%= f.submit "Отправить" %></br >
<% end %>


<%= link_to 'Show', @worksheet %>  
<%= link_to 'Back', worksheets_path %>
