<header>
	<div class="container">
		<div class="logo"> </div> 
		<label class="logo"> ИНТЕХБАНК </label> 
		<%= link_to "Анкета", '/worksheets', class: "logo" %>
		<ul class="menu">
			<li><%= link_to "Home",  '/home' %></li>
			<li><%= link_to "Index",  worksheets_path %></li>
			<li><%= link_to "Start1", edit_worksheet_path(@worksheet, :anketa => 1 )  %></li>
			<li><%= link_to "Start2", edit_worksheet_path(@worksheet, :anketa => 2 )  %></li>
		</ul>
     	</nav>  
     </div>
</header>