<!DOCTYPE html>
<html>
  <head>
    <title>Анкета . <%= yield(:title) %></title>
    <%= stylesheet_link_tag "reset", "fonts" %> 
    <link rel="stylesheet/less" type="text/css" href="/assets/styles.css?body=1" />
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'html5.js', 'less.js', 'jquery.min.js', 'jquery-ui.min.js' %> 
  </head>
  <body>
      <%= render 'layouts/header' %>
    <div class="center">
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>